@model TheaterWebsiteProject.Models.Experience

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperienceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperienceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warning)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Theater)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theater.TheaterName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExperienceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
