@model TheaterWebsiteProject.Models.Theater

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheaterPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheaterPostalCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TheaterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
